{% extends "base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block content %}

    <br><br>

    <strong><h1>About this register</h1></strong>
    <br>

    <article id="about">
        <p>This register is to compile sightings of possible pre-zombies.</p>
        <br>
        <p>At present it is a simple database to list possible sightings, with funding it will be possible to include extra data as requested.</p>
        <br>
        <p>The listing has been kept to the minimum and it is hoped, dependent on the funding to include, gender, country, approximate age, etc, and images if appropriate.</p>
        <br>

        <h1><p>Question - What is a pre-zombie?</p></h1><br>

    <article id="answer">
        <h2>Answer</h2></article>

    <article id="about">

        <p>We will have all seen them ie. sitting on a train/bus/in a car staring into space. They are <strong>NOT</strong> reading, looking out of windows or on a mobile or listing to music.</p></article>
        <br>

        <h1><p>Reason why the register is important.</p></h1>
        <br>
        <p>At any time in the future their life may fall apart, ie. redundancy, divorce, death in the family, not coping with modern day life.</p>
        <br>
        <p>This could result in them turning into a total zombie and be a threat to society.</p>
        <br>
        <p>Hence the need for a register so some form of action may be taken to avert the threat.</p>
        <br><br>

        <strong><p>No Leprechauns, Unicorns, Fairies or Zombies were injured in the making of this Database</p></strong>

{% endblock%}