{% extends "base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block content %}
    <br><br>
    <strong><h1>Issues</h1></strong
    <br>
    <article id="content">
        <p>Please email the address below to raise any problems with the database.</p>
        <br>
        <p>The problems should be classified as bugs, which need fixing, which will be carried out for free, or new features which will require funding.</p>
        <br>
        <p>Only use the following email address for issues relating to the database.</p>
        <br>
        <p>zzzzzz@ombie.com
{% endblock%}